<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Caterest</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!--<section class="header">-->
<nav class="nav-bar">
    <a href="../home.html" th:href="@{/home.html}"><img th:src="@{/images/logo.png}" alt="Caterest"></a>
    <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
            <li><a href="../home.html" th:href="@{/home.html}">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="">COURSE</a></li>
            <li><a href="">BLOG</a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>

<section class="picture-form">
    <form th:object="${picture}" th:action="@{/picture/}"  method="post" enctype="multipart/form-data">
<!--        <input type="hidden" th:field="*{user.id}">-->

        <div>
            <label><b>Username</b></label>
            <input type="text" th:field="*{user.username}">
        </div>

        <div>
            <label><b>Password</b></label>
            <input type="password" th:field="*{user.password}">
        </div>

        <div>
            <input type="file"  accept="image/*" name="image_file" id="image_file"  onchange="loadFile(event)" style="display: none;">
            <label for="image_file" style="cursor: pointer;">Upload Image</label>
            <img id="output" width="600" />
        </div>

        <div>
            <label><b>Description</b></label>
            <input type="text" th:field="*{description}">
        </div>

        <button type="submit">Submit</button>
    </form>


</section>


<section class="footer">
    <h4>About Us</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br> when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <div class="icons">
        <!--        <i class="fa fa-facebook"></i>-->
        <!--        <i class="fa fa-twitter"></i>-->
        <!--        <i class="fa fa-instagram"></i>-->
        <a th:href="'https://www.linkedin.com/in/david-bazan-ticse/'"><i class="fa fa-linkedin"></i></a>
        <a th:href="'https://github.com/Davidjbt'"><i class="fa fa-github"></i></a>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by David</p>
</section>

<!--JavaScrip for Toggle Menu-->
<script src="/static/scripts/script.js" th:src="@{/scripts/script.js}"></script>

</body>
</html>