<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.userName}"></td>
            </tr>

            <img th:each="i: ${#numbers.sequence(0, user.pictures.size() - 1)}"
                 th:src="@{'/user/' + ${user.id} + '/image/' + ${i}}"
                 width="200" height="200">
        </tbody>
    </table>
</body>
</html>